body{
    text-align: justify;
}
dt, h4{
    color: #143B64;
}

.aussi{
    color: black;
}
.aussi:hover{
    text-decoration: none;
}

.card{
    height: 200px;
}

.card-body{
    display: flex;
    align-items: center;
    background-color: #deebfd;
    background-image: linear-gradient(315deg, #deebfd 0%, #f5f7fa 74%);
}
