.sidenav {
    height: 92%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    background-color: rgb(49, 51, 66);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }
  
  .sidenav li {
    padding: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: 0.3s;
  }

  .sidenav a {
    text-decoration: none;
    color: #b4b2b2;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav .title{
    color: #c5c0c0;
    font-size: 16px;
    padding: 10px;
    margin-left: -35px;
    font-weight: 1000;
  }
  
  @media screen and (max-width: 600px) {
    .sidenav {width: 186px;}
  }

  #mySearch {
    width: 98%;
    margin-left: 1%;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 6px;
    border: 1px solid #ddd;
  }

  /* Scroll bar */

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(49, 51, 66); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(105, 104, 104); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}