.sidenav {
    height: 92%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    background-color: rgb(49, 51, 66);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }
  
  .sidenav li {
    padding: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: 0.3s;
  }

  .sidenav a {
    text-decoration: none;
    color: #b4b2b2;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav .title{
    color: #c5c0c0;
    font-size: 16px;
    padding: 10px;
    margin-left: -35px;
    font-weight: 1000;
  }
  
  @media screen and (max-width: 600px) {
    .sidenav {width: 186px;}
  }

  #mySearch {
    width: 98%;
    margin-left: 1%;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 6px;
    border: 1px solid #ddd;
  }

  /* Scroll bar */

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(49, 51, 66); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(105, 104, 104); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.content{
  margin-left: 16%;
}

.desc{
  margin-top: 3%;
  margin-left: 22%;
  padding: 10px;
}

.description{
  display: inline-flex;
}

.desc hr{
  margin-right: 5%;
  border: 3px solid rgba(0, 59, 100);
  border-radius: 5px;
}

.desc .title{
  color: rgba(0, 59, 100);

}

.description .describe{
  margin-right: 5%;
  padding: 30px;
  padding-bottom: 0%;
  text-align: justify;
  line-height: 30px;
  width: 45%;
}

.description .foDispo{
  margin-left: 5%;
  padding: 30px;
  text-align: justify;
  line-height: 35px;
}

.description .foDispo h5{
  color: rgba(0, 59, 100);
}

.description .foDispo ul{
  margin-left: -18px;
  list-style-image: url(../img/graduation-cap-16.png);
}

.description .foDispo ul li a{
  color: black;
  text-decoration: none;
}

.description .foDispo ul li a:hover{
  color: rgba(0, 59, 100);
}